<!-- /templates/my-form.html-->

<html>
    <head>
        <title>Flask Example Input Form</title>
    </head>
    <body>
	    <h3>CAB Project 10</h3>

        <h4>Find the traffic data in your county!</h4>
        <form method="post" action="/county-handler">
            <label for="county">Select a County:</label>
            <select name="county" id="county">
              <option value="All">All Counties</option>
              {% for value in county_option %}
                <option value="{{ value[0] }}">{{ value[0] }}</option>
              {% endfor %}
            </select>
          
            <label for="year">Select a Year:</label>
            <select name="year" id="year">
              {% for value in year_option %}
                <option value="{{ value[0] }}">{{ value[0] }}</option>
              {% endfor %}
            </select>
          
            <input type="submit" value="Submit">
          </form>

          <h4>Enter your County to find Chargers near you!</h4>
        <form action="/charger-handler" method="POST">
            <div>
	            Enter a County in NJ:
		        <input type="text" name="county">
            </div>
                <input type="submit" value="Submit">

        </form>
        <h4>Compare your salary to the median salary of NJ Counties!</h4>
        <form action="/salary-handler" method="POST">
            <div>
	          Enter your salary:
		        <input type="number" name="salary", id="salary">
            </div>
                <input type="submit" value="Submit">
        </form>

        <h4>View EV ownership relative to the number of households in a county!</h4>
        <form action="/percent-handler" method="POST">
          <button type="submit">Submit</button>
        </form>

          

    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
